body { 
  margin:0;
  padding:0;
  background: url('../images/louvre_bg.jpg') no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
.indexTitle{
	color: white;
    font-family: Lucida Grande;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 7px black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
  height: 100%;
}
.form-inline {
    text-align: center;
}
.indexForm {
    padding: 20px;
    text-align: left;
}
.indexLabel {
    padding-bottom: 10px;
}
.indexDemi{
    background: none !important;
    border: none!important;
    box-shadow: none!important;
}
.radio{
  padding-right: 25px;
}
#pw_louvrebundle_reservation_nombre {
    min-width: 140px;
}
@ media screen and (max-width: 768px)

{
  .indexForm {
    padding: 0px;
  }  

}
