{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

 <div class="jumbotron">
  <h3>Bienvenue sur le site de réservation en ligne du Louvre</h3>
</div>  

<p>Selectionner la date</p>
<p>Nombre de tickets</p>

{% endblock %}