{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Réservation - {{ parent() }}
{% endblock %}

{% block body %}

<p>Selectionner la date</p>
<p>Nombre de tickets</p>

{{ reservation.date|date("m/d/Y") }}


{% endblock %}