{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Validation - {{ parent() }}
{% endblock %}

{% block body %}

  <p> c'est bon on vous envoi un mail pour valider ça</p>
{% endblock %}