{% extends "PWLouvreBundle::layout.html.twig" %}

{% block title %}
  Validation - {{ parent() }}
{% endblock %}

{% block body %}

  {{ parent() }}
  <div class="topContainer">
    <h3>Transaction effectuée</h3>
    <p class="validationTxt">Un mail contenant votre réservation vous à été envoyé</p>
  </div>
 
{% endblock %}